---
const {
    url = "#",
    cardimage = "",
    cardimagealt = "",
    miljobillede = "",
    miljobilledealt = "",

    badgebest = "false",
    badgerabat = "false",
    badgerabatsats = "",
    badgenyhed = "false", // Tilføj badgeNyhed
    produktnavn = "",
    produktpris = "",
    rabatpris = "",
} = Astro.props;
---

<article class="card overflow-hidden rounded-none">
    <a href={url} class="flex flex-col h-full">
        <header class="relative group aspect-square overflow-hidden">
            <img src={cardimage} alt={cardimagealt} class="pb-2.5 md:pb-5 absolute inset-0 w-full h-full object-cover transition-opacity duration-300 opacity-100 group-hover:opacity-0" />
            <img src={miljobillede} alt={miljobilledealt} class="pb-2.5 md:pb-5 absolute inset-0 w-full h-full object-cover transition-opacity duration-300 opacity-0 group-hover:opacity-100" />
            <div class={`badge-container absolute top-2 left-2 flex ${badgebest === "true" && badgerabat === "true" ? "flex-col gap-1" : ""}`}>
                {badgenyhed === "true" && <div class="badge bg-blue-700 text-[0.875rem] md:text-[1.000rem] text-neutral-50 px-2 py-1 border-none rounded-none">Nyhed</div>}
                {badgebest === "true" && <div class="badge bg-blue-700 text-[0.875rem] md:text-[1.000rem] text-neutral-50 px-2 py-1 border-none rounded-none">Best sellers</div>}
                {
                    badgerabat === "true" && (
                        <div class="badge bg-orange-700 text-[0.875rem] md:text-[1.000rem] text-neutral-50 px-2 py-1 border-none rounded-none">
                            <span>{badgerabatsats}</span>
                        </div>
                    )
                }
            </div>
        </header>

        <section class="flex flex-col justify-between flex-grow gap-2.5 md:gap-5">
            <h1 class="text-[1.000rem] md:text-[1.562rem]">{produktnavn}</h1>
            <div class="flex flex-wrap items-start">
                {
                    rabatpris ? (
                        <>
                            <p class="mr-2.5 text-[0.875rem] md:text-[1.000rem]">{rabatpris}</p>
                            <p class="text-[0.625rem] md:text-[0.812rem] text-neutral-400 line-through block md:inline mt-1 md:mt-0">{produktpris}</p>
                        </>
                    ) : (
                        <p class="text-[0.875rem] md:text-[1.000rem]">{produktpris}</p>
                    )
                }
            </div>
        </section>
    </a>
</article>
