---
const {
    url = "#",
    cardimage = "",
    cardimagealt = "",
    miljobillede = "", // Tilføj en ny prop for miljøbilledet

    badgenyt = "false",
    badgerabat = "false",
    badgerabatsats = "",

    produktnavn = "",
    produktpris = "",
    rabatpris = "", // Tilføj en ny prop for rabatprisen
} = Astro.props;
---

<article class="card overflow-hidden rounded-none">
    <a href={url} class="flex flex-col h-full">
        <header class="relative group">
            <img src={cardimage} alt={cardimagealt} class="w-full h-64 object-cover group-hover:hidden rounded-none" />
            <img src={miljobillede} alt="Miljøbillede" class="w-full h-64 object-cover hidden group-hover:block rounded-none" />
            <div class={`badge-container absolute top-2 left-2 flex ${badgenyt === "true" && badgerabat === "true" ? "flex-col gap-1" : ""}`}>
                {badgenyt === "true" && <div class="badge bg-blue-700 md:text-p-desktop text-p-mobile text-neutral-50 px-2 py-1 border-none rounded-none">Best sellers</div>}
                {
                    badgerabat === "true" && (
                        <div class="badge bg-orange-700 md:text-p-desktop text-p-mobile text-neutral-50 px-2 py-1 border-none rounded-none">
                            <span>{badgerabatsats}</span>
                        </div>
                    )
                }
            </div>
        </header>
        <section class="p-4 flex flex-col justify-between flex-grow gap-5">
            <h5 class="text-lg font-semibold mb-2">{produktnavn}</h5>
            <div class="flex items-center">
                {
                    rabatpris ? (
                        <>
                            <p class="text-black font-semibold mr-2">{rabatpris}</p>
                            <p class="text-gray-400 line-through">{produktpris}</p>
                        </>
                    ) : (
                        <p>{produktpris}</p>
                    )
                }
            </div>
        </section>
    </a>
</article>
